<!DOCTYPE html>
<html>

<head>
  <title>AME Generic Client App</title>
  <style>
    .message-box-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      border: 1px solid #ccc;
      padding: 10px;
      background: lightgreen;
      text-align: left; /* Left-justify the text */
      width: 100%; /* Make it span the entire width */
    }
  </style>
  
  <script>
    
    function ajaxNewCase(){
      fetch(`{% url "CreateNewCase" %}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = "Server: " +  data['message'] + " #" + data['case'];
              messageBox.style.color = 'red'
              case_no.value = data['case']
            })
            .catch(error => {
              alert("An error occurred, server may be down");
            });
    }

    function ajaxTrainCase(){
      fetch(`{% url "TrainCase" %}?case=${case_no.value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = "Server: " +  data['message'];
              messageBox.style.color = 'red'
            })
            .catch(error => {
              alert("An error occurred, server may be down");
            });
    }

    function ajaxAddProposition(){
      
      fetch(`{% url "AddProposition" %}?case=${case_no.value}&level=${getSelectedLevel()}&system=${getSelectedSystem()}&proposition=${prop.value}&appearance=${appear.value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = "Server: " +  data['message'];
              messageBox.style.color = 'red'
            })
            .catch(error => {
              alert("An error occurred, server may be down");
            });
    }
  </script>
  
  <style>
    .message-box {
      border: 1px solid #ccc;
      padding: 10px;
      background: black; /* Change the background color to black */
      color: white; /* Set the text color to white */
    }
    </style>
</head>

<!-- you must pass at least the "data" and "next_action" JSON fields-->

<body>

<center>
    
      <div class="message-box">
        <p>AbsoluteMode Engine Shell</p>
      </div>
    
    
    <div id="messageBox"></div>
  
</center>

<style>
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label,
  .form-group input {
    margin-bottom: 10px;
  }
  .form-group2 {
  display: flex;
  align-items: center;
}
</style>

{% if next_action  == 'display_home' %}
  <div class="form-group">
    <label for="case_no">Case:</label>
    <input type="text" id="case_no" name="case_no" placeholder="" size="5">
    <p>
    <label for="prop">Proposition:</label><br>
    <input type="text" id="prop" name="prop" placeholder="Enter proposition"  size="30">
    <div class="form-group2" style="display: flex; align-items: center;">

      <label>Select one:</label>
    
      <input type="radio" id="S1" name="S_options" value="1">
      <label for="optionS1">S1</label>
      
      <input type="radio" id="S2" name="S_options" value="2"> 
      <label for="optionS2">S2</label>
    
    </div>
    <div class="form-group2" style="display: flex; align-items: center;">

      <label>Select one:</label>
    
      <input type="radio" id="L0" name="L_options" value="0">
      <label for="optionL0">L0</label>
      <input type="radio" id="L1" name="L_options" value="1">
      <label for="optionL1">L1</label>
      <input type="radio" id="L2" name="L_options" value="2">
      <label for="optionL2">L2</label>
      
      
    </div>
    <p>
    <label for="appear">Appearance terms if L0:</label><br>
    <input type="text" id="appear" name="appear" placeholder="" size="60">
    <p>
    <label for="Desired">Desired terms in proposition (optional, L1 or L2):</label><br>
    <input type="text" id="Desired" name="Desired" placeholder="" size="30">
    <p>
  </div>
    <center>
    <br><br>
    <button id="new_case_button", onclick="ajaxNewCase()">NEW CASE</button>
    <button id="train_case_button", onclick="ajaxTrainCase()">TRAIN CASE</button>
    <button id="add_proposition_button", onclick="ajaxAddProposition()">ADD PROPOSITION TO CASE</button>
    
    </center>
    <script>
    function getSelectedSystem() {
        const selected = document.querySelector('input[name="S_options"]:checked');
        return selected.value; 
        }
    function getSelectedLevel() {
        const selected = document.querySelector('input[name="L_options"]:checked');
        return selected.value; 
        }
    </script>
{% endif %}  

  <div class="message-box-bottom">
    <p>
       This generic client will submit all possible REST transactions to the AME.
       Please see the documentation section <a href="https://absolutemode.agiengine.online">here</a> for details.
       <br><br>
       S1 = System 1, S2 = System 2, L0 = Level 0, L1 = Level 1, L2 = Level 2       
    </p>
  </div>

</body>
</html>
