<!DOCTYPE html>
<html>

<head>
  <title>AME Generic Client App</title>
  <style>
    .message-box-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      border: 1px solid #ccc;
      padding: 5px;
      max-height: 50px;
      background: lightgreen;
      text-align: left; /* Left-justify the text */
      width: 100%; /* Make it span the entire width */
    }
  </style>
  
  <script>
    
    function ajaxNewCase(){
      fetch(`{% url "CreateNewCase" %}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = "Response:" +  data['message'] + " #" + data['case'];
              messageBox.style.color = 'red'
              case_no.value = data['case']
              prop.value = ""
              L0Button.checked = true;
              S1Button.checked = true;
              appear.value = "";
              desired.value = "";
              document.querySelector("#propositions-table table").innerHTML = "";
            })
            .catch(error => {
              alert("An error occurred, server may be down or invalid request");
            });
    }

    function ajaxTrainCase(){
      fetch(`{% url "TrainCase" %}?case=${case_no.value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = "Response:" +  data['message'];
              messageBox.style.color = 'red';
              display_propositions(JSON.parse(JSON.stringify(data['propositions'])));
            })
            .catch(error => {
              alert("An error occurred, server may be down or invalid request");
            });
    }

    function ajaxAddProposition(){
      
      fetch(`{% url "AddProposition" %}?case=${case_no.value}&level=${getSelectedLevel()}&system=${getSelectedSystem()}&proposition=${prop.value}&appearance=${appear.value}&desired=${desired.value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.style.color = 'red';
              messageBox.innerText = "Response:" +  data['message'];

              // display the running list of propositions
              display_propositions(JSON.parse(JSON.stringify(data['propositions'])));
              //alert(data2.proposition[0].level)
              
            })
            .catch(error => {
              alert("An error occurred, server may be down or invalid request");
            }); 
      
    }

    function clear_appearance(){
        appear.value = ""
    }

    function clear_desired(){
        desired.value = ""
    }

    function clear_proposition(){
        prop.value = ""
    }

    function insert_Q_proposition(){
        prop.value = "?"
    }

    function append_ellipsis_proposition(){
        prop.value = prop.value + '...'
    }

    function clear_all(){
      /* case_no.value = "" */
      prop.value = ""
      L0Button.checked = true;
      S1Button.checked = true;
      appear.value = "";
      desired.value = "";
    }

    function ajaxRetractProp() {
        fetch(`{% url "RetractProposition" %}?case=${case_no.value}`)
            .then(response => response.json())
            .then(data => {
              // initialize data to just retracted proposition in case user wants to edit:
              json_data = JSON.parse(JSON.stringify(data['retracted']));
              if (json_data.proposition.length > 0){
                prop.value = json_data.proposition;
                appear.value = json_data.appearance;
                desired.value = json_data.desired;
                // reset S1/S2
                if (json_data.system == 1){
                    S1Button.checked = true;
                }
                else {
                    S2Button.checked = true;
                } 
                // reset Level
                if (json_data.level == 0){
                    L0Button.checked = true;  
                }
                else if (json_data.level == 1){
                    L1Button.checked = true;  
                }
                else if (json_data.level == 2){
                    L2Button.checked = true;  
                }
                }

              messageBox.style.color = 'red';
              messageBox.innerText = "Response:" +  data['message'];
              display_propositions(JSON.parse(JSON.stringify(data['propositions'])));
            })
            .catch(error => {
              alert("Attempt to retract with no propositions or server may be down");
            });
            
          }  

    function ajaxDeliberate() {
        
        fetch(`{% url "Deliberate" %}?case=${case_no.value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.style.color = 'red';
              messageBox.innerText = "Response:" +  data['decision'] ;
              display_propositions(JSON.parse(JSON.stringify(data['propositions'])),data['judgments']);
            })
            .catch(error => {
              alert("An error occurred, server may be down or invalid request");
            });
            
          }  

    function display_propositions(json_data,ame_judgments=[]){
        // if ame just called, judgment switch is set. All but L0 judgments are returned.
        if (ame_judgments.length > 0) {
          judgments_sw = true;
          judgments_idx = 0
        } 
        else {
          judgments_sw = false;
        }

        document.querySelector("#propositions-table table").innerHTML = "";
        //for (let i = 0; i < json_data.proposition.length; i++) {
        //          alert(json_data.proposition[i].proposition);
        //      };
        
        json_data.proposition.forEach(p => {
          if (p.level == 0) {
            let row = `
              <tr>
                <td>L${p.level}</td>
                <td>S${p.system}</td>
                <td>PROPOSITION=${p.proposition}</td>
                <td>APPEARANCE=${p.appearance}</td>
              </tr>
              `;
            document.querySelector("#propositions-table table").insertAdjacentHTML('beforeend', row); 
          }
          // level 1 or 2:
          else if (judgments_sw) {
            let row = `
              <tr>
                <td>L${p.level}</td>
                <td>S${p.system}</td>
                <td>PROPOSITION=${p.proposition}</td>
                <td>DESIRED=${p.desired}</td>
                <td>RESULT=${ame_judgments[judgments_idx]}</td>
              </tr>
              `;
            document.querySelector("#propositions-table table").insertAdjacentHTML('beforeend', row); 
            judgments_idx = judgments_idx + 1;
          }
          else if (!judgments_sw) {
            let row = `
              <tr>
                <td>L${p.level}</td>
                <td>S${p.system}</td>
                <td>PROPOSITION=${p.proposition}</td>
                <td>DESIRED=${p.desired}</td>
              </tr>
              `;
            document.querySelector("#propositions-table table").insertAdjacentHTML('beforeend', row); 
          }
        });
        
    }

  </script>
  
  <style>
    .message-box {
      border: 1px solid #ccc;
      padding: 10px;
      background: black; /* Change the background color to black */
      color: white; /* Set the text color to white */
    }
    </style>
</head>

<!-- you must pass at least the "data" and "next_action" JSON fields-->

<body>

<center>
    
      <div class="message-box">
        <p>AbsoluteMode Engine Shell</p>
      </div>
    

      <br><br>
      CALL SERVER>
      <button id="new_case_button", onclick="ajaxNewCase()">NEW CASE</button>
      <button id="add_proposition_button", onclick="ajaxAddProposition()">ADD PROPOSITION TO CASE</button>
      <button id="retract_proposition_button", onclick="ajaxRetractProp()">RETRACT LAST PROPOSITION</button>
      <button id="deliberate_button", onclick="ajaxDeliberate()">DELIBERATE</button>
      <button id="train_case_button", onclick="ajaxTrainCase()">TRAIN CASE</button>
      <br>
      <div id="messageBox"></div>
  
</center>

<style>
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label,
  .form-group input {
    margin-bottom: 10px;
  }
  .form-group2 {
  display: flex;
  align-items: center;
  }

  #propositions-table {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px; 
  }

  h3 {
    margin-top: 25px;
    font-size: 1.2em;
  }
</style>

{% if next_action  == 'display_home' %}
  
  <div class="form-group">
    <label for="case_no">Case:</label>
    <input type="text" id="case_no" name="case_no" placeholder="" size="5">
    <p>
    <label for="prop">Proposition:</label><br>
    <input type="text" id="prop" name="prop" placeholder=""  size="30">
    <button id="clear_proposition", onclick="clear_proposition()">Clear</button>
    <button id="insert_Q_proposition", onclick="insert_Q_proposition()">Use '?'</button>
    <button id="append_ellipsis_proposition", onclick="append_ellipsis_proposition()">Append '...'</button>
    <div class="form-group2" style="display: flex; align-items: center;">

      <label>Select one:</label>
    
      <input type="radio" id="S1" name="S_options" value="1">
      <label for="optionS1">S1</label>
      
      <input type="radio" id="S2" name="S_options" value="2"> 
      <label for="optionS2">S2</label>
    
    </div>
    <div class="form-group2" style="display: flex; align-items: center;">

      <label>Select one:</label>
    
      <input type="radio" id="L0" name="L_options" value="0">
      <label for="optionL0">L0</label>
      <input type="radio" id="L1" name="L_options" value="1">
      <label for="optionL1">L1</label>
      <input type="radio" id="L2" name="L_options" value="2">
      <label for="optionL2">L2</label>
      
      
    </div>
    <p>
    <label for="appear">Appearance terms if L0:</label><br>
    <input type="text" id="appear" name="appear" placeholder="" size="40">
    <button id="clear_button", onclick="clear_appearance()">Clear</button>
    <p>
    <label for="desired">Desired terms in proposition (optional, S2 only!):</label><br>
    <input type="text" id="desired" name="desired" placeholder="" size="30">
    <button id="clear_desired", onclick="clear_desired()">Clear</button>
    <p>
    <button id="clear_all", onclick="clear_all()">Clear All</button>
    <h3>Case Proposition List:</h3>
    <div id="propositions-table" style="max-height: 100px; overflow-y: auto; font-size: 12px;">
      <table>
        <tr>
          <th>empty -- add propositions</th>
        </tr>
      </table>
    </div>

  </div>
    <script>
    const L0Button = document.getElementById('L0');
    const L1Button = document.getElementById('L1');
    const L2Button = document.getElementById('L2');
    const S1Button = document.getElementById('S1');
    const S2Button = document.getElementById('S2');
    function getSelectedSystem() {
        const selected = document.querySelector('input[name="S_options"]:checked');
        return selected.value; 
        }
    function getSelectedLevel() {
        const selected = document.querySelector('input[name="L_options"]:checked');
        return selected.value; 
        }
    </script>
{% endif %}  

  <div class="message-box-bottom">
    <p>
       This generic client will submit all possible REST transactions to the AME.
       Please see the documentation section <a href="https://absolutemode.agiengine.online">here</a> for details.
      <br>
       S1 = System 1, S2 = System 2, L0 = Level 0, L1 = Level 1, L2 = Level 2       
    </p>
  </div>

</body>
</html>
